<div class="container">
  <div class="image-header-orac">
    <h1>ANTI-OXIDANTS</h1>
  </div>
  <div class="about-oxidation">
    <h1>What are Anti-Oxidants?</h1>
    <hr>
    <div class="about-oxi">
    <p class="text-box">Anti-oxidants are molecules that inhibit the oxidation of other molecules. It does this by providing the free radical molecule with one of its own electrons rendering it harmless. This works with the anti-oxidants our bodies make and the ones we take in our diet</p>
  </div>

  <div class="about-oxidation">
    <h1>How do Anti-Oxidants work?</h1>
    <hr>
    <div class="about-oxi">
    <iframe width="650" height="355" src="https://www.youtube.com/embed/lG3OOXIXvxw" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="about-orac">
    <h1>What is ORAC?</h1>
    <hr>
    <div class="about-orac-text" >

    <p class="text-box">"A good way to measure the antioxidant activity of foods including juices is by means of the ORAC point system.  ORAC stands for Oxygen Radical Absorption Capacity, a measure of the scavenging capacity of antioxidants against the peroxyl radical."<br><br> <span>-Dr. Joel Wallch N.D and Dr. Ma Lan M.D</span><br> <em>Hell's Kitchen</em></p>

    <h3>Top 50 foods with the highest ORAC score</h3>
    <input placeholder="Search by name" ng-model="name">
    <div class="orac-list" ng-repeat="food in orac | filter: name">
      <br>
      <div class="table">
      <div class="food-col">
        <a href="{{food.link}}">{{food.name}}</a>
        <br>
      </div>
      <div class="orac-col">
        {{food.orac}}
      </div>

    </div>
  </div>
  </div>
    </div>
</div>



</div>
