<div class="container">
  <div class="image-header">
    <h1>ZERO-OXIDATION</h1>
    <div class="down-indicator" class="blink">
      <img src="icons/white-arrow-down.png" >
    </div>
  </div>
  <div class="mission-statement">
    <h1>Mission Statement</h1>
    <hr>
    <div class="mission-text">
    <p class="text-box">To educate people on the benifits of anti-oxidants for longevity and disease prevention.</p>
  </div>
  <div class="about">
    <h1>About</h1>
    <hr>
    <div class="about-about">
      <p class="text-box">I have always been curious about cancer growing up as a kid. Why is it so scary and so hard to treat. Why don't we have a cure for it? My godmother was a breast cancer survivor and it took her 5 full years of gureling treatment regiments just to recover and knowing cancer is the leading cause of death, claiming 550,000 lives every year in America is what compelled me to make this website.</p>
      <p class="text-box">One of the best ways to fight cancer and other diseases is to prevent them and learning about anti-oxidants how to incorperate them into our daily live is one of the best ways to do so.</p>
    </div>
</div>
</div>
