<div class="container">
  <div class="image-header">
    <h1>ZERO-OXIDATION</h1>
  </div>
  <div class="mission-statement">
    <h1>Mission Statement</h1>
    <hr>
    <div class="mission-text">
    <p class="text-box">To educate people on the benifits of anti-oxidants for longevity and disease prevention.</p>
  </div>
  <div class="about">
    <h1>About</h1>
    <hr>
    <div class="about-about">
      <p class="text-box">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>
</div>
