<div class="container">
  <div class="image-header-oxidation">
    <h1>OXIDATION</h1>
  </div>
  <div class="about-oxidation">
    <h1>What is Oxidation?</h1>
    <hr>

    <div class="about-oxi">
    <p class="text-box">Oxidation is a chemical process that occurs in nature where molecules known as free radicals, an atom, molecule or ion with an unpaired valence electron. When these molecules enter the body they begin begin to rob electrons from healthy human cells potentially destroying them or create more free radicals. This process can inhibit our body to perform opitmally and lead verious forms of inflamation and disease. This process happening in our bodies is the same as if iron were to rust. We are rusting as well.</p>
  </div>

  <div class="free-radical">
    <h1>Where do Free Radicals come from?</h1>
    <hr>
  </div>
  <div class="about-free-radical">
    <p class="text-box">One way we get free radicals is when our bodies metabolise the food we eat, while breaking them down they create toxins as a by product which can cause free radical damage. The other causes are due to environmental impacts, such as pollution, radiation, durgs, age, injury, infection, stress and poor diet. The most common is from the foods we eat.
    </p>
    <h3> Common foods that cause Oxidative Stress</h3>
    <ul>
      <li>Fried Food</li>
      <li>Burnt Fat</li>
      <li>Processed Meat</li>
      <li>Trans Fat</li>
  </div>

  <div class="good-news">
    <h1>The Good News</h1>
    <hr>
  </div>
  <div class="about-good-news">
    <p class="text-box">Our bodies have the ability to heal and create new cells as well as make anti-oxidants of their own. We also possess a very sophisitcated and complex immune system, which act like a border gaurd that keep us safe from foreign invaders, as well as cleaning out toxins. In addition our bodies can produce their own anti-oxidants to combat the ongoing bombardment of free radicals. The one job our body has is to maintain our bodies operation so you don't have to worry.</p>
  </div>

  <div class="bad-news">
    <h1>The Bad News</h1>
    <hr>
  </div>
  <div class="about-bad-news">
    <p class="text-box">Despite having the ability to heal. Our ability to recover deminishes as we face the stress from all walks of life. Weather it be from work, relationships and other problems we face. To make things worse is our poor diets and lack of proper rest. This can prevent our immune system as well as other bodily functions from operating optimally. Without the proper function of our immune system and cells working optimally our bodies become vulnerable to free radical damage, which often leads to illness.</p>
  </div>
    </div>
</div>
