<div class="container">
  <div class="image-header-oxidation">
    <h1>OXIDATION</h1>
  </div>
  <div class="about-oxidation">
    <h1>What is Oxidation?</h1>
    <hr>

    <div class="about-oxi">
    <p class="text-box">Oxidation is a chemical process that occurs in the human body where molecules known as free radicals, an atom, molecule or ion with an unpaired valence electron. When these molecules enter the body they begin begin to rob electrons from healthy human cells potentially destroying them. This process can inhibit our body to perform opitmally and lead verious forms of inflamation and disease. This principle is similar to the phrase mountain turns to dust iron turns to rust. Everything slowly degrades overtime.</p>
  </div>

  <div class="free-radical">
    <h1>Where do free radicals come from?</h1>
    <hr>
  </div>
  <div class="about-free-radical">
    <p class="text-box">One way we get free radicals is when our bodies break down the food we eat, while breaking them down they create toxins as a by product which cause free radical damage. The other causes are due to environmental impacts, such as pollution, radiation, durgs, age, injury, infection, stress and poor diet.
    </p>
    <h3> Common foods that cause oxidative stress</h3>
    <ul>
      <li>Fried food</li>
      <li>Burnt fat</li>
      <li>Trans fat</li>
  </div>

  <div class="good-news">
    <h1>The Good News</h1>
    <hr>
  </div>
  <div class="about-good-news">
    <p class="text-box">Our bodies have the ability to heal and create new cells. We also possess a very sophisitcated and complex immune system, which act like a police force and millitary that keep us safe from forgein invaders, as well as cleaning out toxins. In addition our bodies can produce their own anti-oxidants to combat the ongoing bombardment. The one job our body has is to maintain our bodies operation so you don't have to worry.</p>
  </div>

  <div class="bad-news">
    <h1>The Bad News</h1>
    <hr>
  </div>
  <div class="about-bad-news">
    <p class="text-box">Despite having the ability to heal. Our ability to recover deminishes as we face the stress from all walks of life. Weather it be from work, relationships and other problems we face. To make things worse is our poor diets and lack of proper rest. Without the proper function of our immune system and cells working optimally our bodies become vulnerable to free radical damage</p>
  </div>
    </div>
</div>
