<div class="container">
    <div class="image-header-recomendations">
        <h1>RECOMENDATIONS</h1>
    </div>
    <div class="about-oxidation">
        <h1>Recomended Daily ORAC score</h1>
        <hr>
        <div class="about-oxi">
            <p class="text-box">It is recommended that a person take in a daily ORAC score of 20,000. To fully project your body from free radical damage to prevent inflammation and illness.
            </p>

        </div>
    </div>

    <div class="about-oxidation">
        <div class="about-hunza">
            <h1>Be selective</h1>
            <hr>
            <p class="text-box">
                When grocery shopping it is important to avoid foods that contain free radicals. It's best to avoid processed meats and obtain organic foods. Increase intake of foods that have a good radical absorbstion value. The goal is to reduce free radicals and increase anti-oxidants.</p>
        </div>
        <h2 ng-click="show = !show">List of Organic Food Items</h2>
        <div class="food-search">
        <input placeholder="Search by name" ng-model="name">
      </div>
        <div class="list-container">

        <div class="list-wrapper" ng-show="show">
        <div class="list" ng-repeat="item in foods | filter: name">
          <p>-{{item.name}}</p>
          <br>
        </div>
      <!--  <p>
        -YOGI TEAS SUPER ANTIOXIDANT GREEN TEA, UPC 076950450363
        <br>
        <br>
        -YOGI TEAS POMEGRANATE GREEN TEA, UPC 076950450622
        <br>
        <br>
        -YOGI TEAS KOMBUCHA GREEN TEA, UPC 076950450370
        <br>
        <br>
        -SIMPLY ORGANIC TURMERIC ROOT CERTIFIED ORGANIC, UPC 089836185259
        <br>
        <br>
        -SIMPLY ORGANIC CLOVES GROUND CERTIFIED ORGANIC, UPC 767563368885
        <br>
        <br>
        -SIMPLY ORGANIC OREGANO LEAF CUT & SIFTED CERTIFIED ORGANIC, UPC 089836185211
        <br>
        <br>
        -SIMPLY ORGANIC CINNAMON GROUND CERTIFIED ORGANIC, UPC 885241462103
        <br>
        <br>
        -SIMPLY ORGANIC BASIL CERTIFIED ORGANIC, UPC 089836185129
      </p>-->
      </div>
    </div>
        <br>
        <div class="show-btn" ng-click="show = !show">
          Show List
        </div>

            <h1>Final message</h1>
            <hr>
            <div class="about-hunza" id="final-message">
                <p class="text-box">Disease usually occurs when the amount of oxidative stress surpasses our bodies abilites to manage them. Anti-oxidants can act as insurance when this occurs. Espeicially when we age and take on the stress of life. To stay healthy getting as much anti-oxidants into your systems is ideal.</p>
            </div>
        </div>
    </div>
