<div class="container">
  <div class="image-header-recomendations">
    <h1>RECOMENDATIONS</h1>
  </div>
  <div class="about-oxidation">
    <h1>Recomended Daily ORAC score</h1>
    <hr>
    <div class="about-oxi">
    <p class="text-box">It is recommended that a person take in a daily ORAC score of 20,000. To fully project your body from free radical damage to prevent inflammation and illness.</p>
  </div>
  <div class="about-oxidation">
    <h1>People of the Hunza Valley</h1>
    <hr>
    <div class="about-hunza">
      <img src="img/hilltop-hotel-hunza.jpg">
    <p class="text-box">In the high mountain ranges of pakistan lies Hunza Valley. The people that live here have one of the top longevvity cultures in the world. Cancer and illness is non-existant. The men work in the fields into their 90's. Women are still giving birth to healthy babies in their sixties. One of their main secrets is consuming a daily ORAC score of 300,000.</p>
    <p class="text-box">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."<br><br> <span>-Dr. Joel Wallch N.D</span><br> <em>Epigentics</em></p>
  </div>
</div>
