.image-header-orac{
  background-image: url('../img/baharat.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter:grayscale(100%);
  background: linear-gradient( rgba(0, 0, 0, 0.5));
}

.image-header-orac h1{
  font-size: 70px;
  font-weight: bolder;
  color: white;
  border: 5px solid white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.about-orac{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-orac-text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 900px;
}

.about-orac-text h3{
  text-decoration: underline;
}

.table{
  width: 325px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.table:hover{
  background-color: #F1C53C;
}

.table .food-col:hover{
  text-decoration: underline;
}
