.image-header-oxidation{
  background-image: url('../img/photo-1447077183867-5f71d71aee9f.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter:grayscale(100%);
  overflow: hidden;
  background-attachment: fixed;
}

.image-header-oxidation h1{
  font-size: 70px;
  font-weight: bolder;
  color: white;
  border-bottom: 5px solid white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

hr{
  width: 500px;
  color: black;
}

.about-oxidation{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.about-oxidation h1{
  padding-top: 50px;
}

.about-free-radical{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about-free-radical ul{
  display: flex;
  flex-direction: column;
}

.about-free-radical h3{
  text-decoration: underline;
}


.about-good-news{
  display: flex;
  justify-content: center;
}

.about-bad-news{
  display: flex;
  justify-content: center;

}

.about-oxi{
  display: flex;
  justify-content: center;
}

.about-bad-news{
  padding-bottom: 200px;
}
