.image-header-recomendations{
  background-image: url('../img/photo-1450650795614-745f80d91080.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter:grayscale(100%);
  background: linear-gradient( rgba(0, 0, 0, 0.5));
}

.image-header-recomendations h1{
  font-size: 70px;
  font-weight: bolder;
  color: white;
  border: 5px solid white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
