.image-header-recomendations{
  background-image: url('../img/photo-1450650795614-745f80d91080.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter:grayscale(100%);
  overflow: hidden;
  background-attachment: fixed;
}

.image-header-recomendations h1{
  font-size: 70px;
  font-weight: bolder;
  color: white;
  border-bottom: 5px solid white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.about-hunza{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 150px;
}

.text-box span{
  font-weight: bold;
}
