.image-header-recomendations{
  background-image: url('../img/photo-1450650795614-745f80d91080.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter:grayscale(100%);
  overflow: hidden;
  background-attachment: fixed;
}

.image-header-recomendations h1{
  font-size: 70px;
  font-weight: bolder;
  color: white;
  border-bottom: 5px solid white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.about-hunza{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.list-container{
/*  border: 1px solid red;*/
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.food-search input{
  width: 200px;
  font-size: 25px;
  display: none;
}
.list-wrapper{
  text-align: left;
  width: auto;
/*  border: 1px solid green;*/
}

.text-box span{
  font-weight: bold;
}

.show-btn{
  cursor: pointer;
}

.show-btn:hover{
  text-decoration: underline;
}
#final-message{
  padding-bottom: 100px;
}

p{
  margin: 0;
  font-size: 17px;
}
h2{
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 1200px){
  .image-header-recomendations h1{
    font-size: 50px;
  }
  .list-wrapper{
    width: 600px;
  }
}

@media (max-width: 950px){
  .list-wrapper p {
    font-size: 15px;
  }
}
