*{
  font-family: helvetica;
  font-weight: lighter;
}

a{
  text-decoration: none;
  color: black;
}

body{
  margin: 0;
}

footer{
  background-color: #EEECED;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
}
.nav-items {
  width: 80vw;
  text-decoration: none;
}

ul li:hover{
  border: 2px solid black;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

li {
  padding: 5px;
}

.image-header{
  background-image: url('../img/photo-1470087167738-6aa485ff65dc.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 870px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter:grayscale(100%);
  position: relative;
  background-attachment: fixed;
  overflow: hidden;
}

.image-header h1{
  font-size: 70px;
  font-weight: bolder;
  color: white;
  border: 5px solid white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
}

.down-indicator{
  position: absolute;
  bottom: 10px;
  animation: blink 2s ease-in infinaite;
}

.down-indicator img{
  height: 60px;
}


hr{
  width: 500px;
  color: black;
}

.mission-statement{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding-top: 50px;
}

.text-box{
  width: 500px;
  text-align: center;
  padding-bottom: 40px;
}

.mission-text{
  display: flex;
  justify-content: center;
}

.about-about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 150px;
}

@keyframes blink {
  from, to {opacity: 1}
  50% { opacity: 0}
}
