*{
  font-family: helvetica;
  font-weight: lighter;
}

a{
  text-decoration: none;
  color: black;
}

body{
  margin: 0;
}

footer{
  background-color: #EEECED;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
}
.nav-items {
  width: 80vw;
  text-decoration: none;
}

.nav-items ul li:hover{
  border-bottom: 2px solid black;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

li {
  padding: 5px;
  letter-spacing: 5px;
}

.image-header{
  background-image: url('../img/photo-1470087167738-6aa485ff65dc.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  filter:grayscale(100%);
  position: relative;
  background-attachment: fixed;
  overflow: hidden;
}

.image-header h1{
  font-size: 70px;
  font-weight: bolder;
  color: white;
  border: 5px solid white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
}

@keyframes blink {
  50% { opacity: 0}
}

.down-indicator{
  position: absolute;
  bottom: 25px;

}

.down-indicator img{
  height: 60px;
    animation: blink 2s ease-in infinaite;
}


hr{
  width: 700px;
  color: black;
}

.mission-statement{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding-top: 50px;
}

.mission-statement h1{
  font-size: 50px;
}

.mission-statement p{
  font-size: 20px;
}

.text-box{
  width: 600px;
  text-align: center;
  padding-bottom: 40px;
}

.mission-text{
  display: flex;
  justify-content: center;
}

.about-about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;
}

.hamburger{
  background-image: url('../icons/burger-menu.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  display: none;
}

.close{
  width: 20px;
  height: 20px;
  background-image: url('../icons/close-x.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  right: 60px;
  top:1050000px;
  cursor: pointer;
}

.nav-on-phone{
  position: absolute;
}

.nav-on-phone ul{
  flex-direction: column;
  font-size: 25px;
  width: 200px;
  height: 330px;
  position: absolute;
  top:1000000px;
  left: 50px;
  font-size: 20px;
}

li {
  width:auto;
}
@media (max-width: 1200px){
  li {
    padding: 5px;
    letter-spacing: 1px;
  }
  .image-header h1{
    font-size: 50px;
    margin-top: 120px;
  }
  .down-indicator img{
    height: 40px;
  }
}
@media (max-width: 950px){
  .nav-items{
    display: none;
  }
  .hamburger{
    display: flex;
    position: absolute;
    top: 20px;
    left: 50px;
    cursor: pointer;
  }
  footer{
    height: 10vh;
    display: block;
  }
  .nav-on-phone ul{
    position: absolute;
    top:100px;
    left: 50px;
  }
  .nav-on-phone li{
    font-size: 18px;
  }
  ul li:hover{
    text-decoration: underline;
  }
  .close{
    position: absolute;
    right: 60px;
    top:105px;
  }
  hr{
    width: 500px;
  }
  .mission-statement h1{
    font-size: 35px;
  }
  .text-box{
    width: 500px;
  }
}
