*{
  font-family: helvetica;
  font-weight: lighter;
}

a{
  text-decoration: none;
  color: black;
}

body{
  margin: 0;
}

footer{
  background-color: #EEECED;
  height: 8vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0px;
}
.nav-items {
  width: 80vw;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.image-header{
  background-image: url('../img/photo-1470087167738-6aa485ff65dc.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter:grayscale(100%);
  background: linear-gradient( rgba(0, 0, 0, 0.5));
}

.image-header h1{
  font-size: 50px;
  font-weight: bolder;
  color: white;
  border: 5px solid white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

hr{
  width: 400px;
  color: black;
}

.mission-statement{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: #F1C53C;
  padding-bottom: 500px;
}

.text-box{
}
